.banner {
  display: flex;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.contentBtn {
  position: relative;
  left: calc(100vw - 395px);
  
  button {
    border: none;
    border-radius: 5px;
    background-color: var(--dirty-white);
    cursor: pointer;
  }
}

.cardWrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px 30px 0;
}