.dotChoice {
  width: 29px;
  height: 17px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(212, 211, 211);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  :global {
    img {
      width: 20px;
      position: relative;
      bottom: 7px;
    }
  }
}