@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
  --main-400-font: 'Arvo', serif;
  --dark-gray: #2C3639;
  --light-gray: #3F4E4F;
  --brown: #A27B5C;
  --dirty-white: #DCD7C9;
}

* {
  font-family: var(--main-400-font);
  font-size: 22px;
  color: var(--dirty-white);
}

body {
  margin: 0;
}


// -------------------- GLOBAL -------------------- 
.form-container {
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 32px rgba($color: #000000, $alpha: .2);
  max-width: 500px;

  form {
    display: flex;
    flex-direction: column;

    * {
      color: var(--brown);
    }

    .form-title {
      margin: 0;
      margin-bottom: 20px;
      font-size: 30px;
    }

    .double {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .field {
        margin-top: 0;
        width: 47%;
      }
    }

    & > .field {
      margin-top: 20px;
    }

    .field {

      & + button {
        margin-top: 20px;
      }

      .field-input {
        border: 1px solid rgba($color: #000000, $alpha: .3);
        border-radius: 5px;
        width: calc(100% - 6px);
        padding: 6px 5px;
        font-size: 16px;

        &:focus-visible {
          outline: 2px solid var(--brown);
        }
      }

      .field-title {
        transform: translate(17px, 9px);
        background-color: white;
        padding: 0px 5px;
        width: fit-content;
        font-size: 20px;
      }
    }

    button {
      background-color: transparent;
      border: 2px solid var(--brown);
      color: var(--brown);
      border-radius: 4px;
      cursor: pointer;
      transition: .1s;
      width: 25%;

      &:hover {
        background-color: var(--brown);
        color: var(--dirty-white);
      }
    }

    .register, .login{
      margin: 0;
      margin-top: 20px;
      font-size: 15px;

      & > a {
        font-size: 15px;
      }
    }
  }
}

.content {
  padding: 40px;
}

// -------------------- DESKTOP --------------------

// -------------------- MOBILE --------------------