@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
  --main-400-font: 'Arvo', serif;
  --dark-gray: #2C3639;
  --light-gray: #3F4E4F;
  --brown: #A27B5C;
  --dirty-white: #DCD7C9;
  --easy-white: #F2E3DB;
  --emergency-red: #F17383;
}

* {
  color: var(--dirty-white);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-400-font);
  font-size: 22px;
}


// -------------------- GLOBAL -------------------- 
.content {
  padding: 40px;
  display: grid;
}

// -------------------- DESKTOP --------------------

// -------------------- MOBILE --------------------